//unison colors
@unison-light-gray: #404040;
@unison-gray: #2d2d2d;
@unison-dark-gray: #222;
@unison-darker-gray: #191919;

@unison-color-accent-red: #ea3c3c;
@unison-color-accent-orange: #ea933c;
@unison-color-accent-yellow: #eaea3c;
@unison-color-accent-green-yellow: #93ea3c;
@unison-color-accent-green: #3cea3c;
@unison-color-accent-teal: #3cea93;
@unison-color-accent-cyan: #3ceaea;
@unison-color-accent-blue: #3c93ea;
@unison-color-accent-violet: #3c3cea;
@unison-color-accent-purple: #933cea;
@unison-color-accent-light-purple: #ea3cea;
@unison-color-accent-light-red: #ea3c93;

@unison-color-off-white: #dadada;
@unison-color-gray-1: #bcbcbc;
@unison-color-gray-2: #9a9a9a;
@unison-color-gray-3: #787878;
@unison-color-gray-4: #565656;
@unison-color-gray-5: #343434;
@unison-color-gray-6: #121212;
